<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Sample Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/bot.css' %}" />
  </head>
  <body>
    <div class="flex-container">
      <div id="header">
        <h1 class="heading">Sample Chatbot</h1>
      </div>
      <div id="chatbot">
        <div id="output"></div>
        <div id="bot-response"></div>
      </div>

      <div id="input-section">
        <input
          id="input"
          type="text"
          placeholder="Type a message"
          autocomplete="off"
          onkeydown="myFunction(event)"
        />
        <button class="send" onclick="sendMessage()">Send</button>
      </div>
      <script id="data" type="application/json">
        {{ data_json|safe }}
      </script>
      <script src="{% static 'js/new_script.js' %}"></script>
    </div>
  </body>
</html>
